<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
    <listeners>
        <listener class-name="listner.ExtentTestNGListener"/>
    </listeners>

    <test name="TestNG Tests">
        <classes>
<!--            <class name="Tests.YouTubeAutomation"/> //not working-->
            <class name="Tests.SampleTest"/>
        </classes>
    </test>
</suite>
